.list{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 90px;
    row-gap: 60px;
    &__item {
        width: 220px;
        height: 260px;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
        background: #FFFFFF;
        border-radius: 8px;
        border: none;
        display: grid;
        grid-template-rows: 2fr 1.5fr;
        justify-content: center;
        cursor: pointer;
    }
    &__img {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
    }
    &__text {
        text-align: end;
        padding-left: 23px;
        padding-right: 25px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
    }
}